﻿@{
    ViewBag.Title = "Aviso de privacidad";
}
<div class="contentWrapper">
    <h3>
        Aviso de privacidad</h3>
    <p>
        Estilo de Vida & Nutrición, con domicilio en San Borja #330, col.: del Valle, Del.:
        Benito Juárez, C.P.:03100, México D. F. Sus datos personales son resguardados y
        protegidos por Alexandra Hurtado Piña, vigilará que los datos personales sean recabados
        para:</p>
    <ul>
        <li>Prestación de servicios dieta y nutrición y demás fines relacionados con servicios
            de salud</li>
        <li>Creación, estudio, análisis, actualización, y conservación del expediente clínico</li>
        <li>Facturación y cobranza por servicios</li>
        <li>Estudios, registros, estadísticas y análisis de información de salud</li>
        <li>Conservación de registros para seguimiento a servicios, prestación de servicios
            en el futuro y en general para dar seguimiento a cualquier relación contractual</li>
        <li>Análisis estadísticos y de mercado</li>
        <li>Promoción y mercadeo de productos y servicios de Estilo de Vida & Nutrición</li>
    </ul>
    <p>
        La persona desde el momento en el que proporciona sus datos personales a Estilo
        de Vida & Nutrición, está de acuerdo en que estos sean pueda desarrollar las siguientes
        actividades necesarias para el cumplimiento de su objetivo</p>
    <ul>
        <li>Investigación y diversos estudios de mercado</li>
        <li>Encuestas de calidad de servicio</li>
        <li>Promociones direccionadas</li>
        <li>Invitaciones a servicios adicionales</li>
        <li>Atención al cliente, felicitaciones, mensajes de bienvenida</li>
    </ul>
    <p>
        Para mayor información acerca del tratamiento y de los derechos que puede hacer
        valer, usted puede acceder al aviso de privacidad integral mandando un correo electrónico
        a contacto@estilodevidanutricion.com</p>
</div>
