﻿@{
    ViewBag.Title = "Cancelación";
}
<div class="contentWrapper">
    <h4>
        Lamentamos la cancelación</h4>
    <p>
        En Estilo de Vida y Nutrición, te aseguramos que una vez realizado tu pago te agendamos
        la consulta por Skype o Facebook.</p>
</div>
