﻿@{
    ViewBag.Title = "Contacto";
}
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<div class="wrapper">
    <div id="main">
        <!-- Form -->
        <form id="contact-form" action="Contacto" method="post">
        <h3>
            Contactanos</h3>
        <h4>
            ¿Quieres agendar una cita o preguntas?</h4>
        <div>
            <label>
                <span>Nombre: *</span>
                <input name="nombre" placeholder="Nombre completo" type="text" tabindex="1" required
                    autofocus>
            </label>
        </div>
        <div>
            <label>
                <span>Email: *</span>
                <input name="email" placeholder="email" type="email" tabindex="2" required>
            </label>
        </div>
        <!--<div>
				<label>
					<span>Telephone: (required)</span>
					<input placeholder="Please enter your number" type="tel" tabindex="3" required>
				</label>
			</div>
			<div>
				<label>
					<span>Website: (required)</span>
					<input placeholder="Begin with http://" type="url" tabindex="4" required>
				</label>
			</div>-->
        <div>
            <label>
                <span>Mensaje: *</span>
                <textarea name="mensaje" placeholder="Deja tu mensaje" tabindex="5" required></textarea>
            </label>
        </div>
        <div>
            <button name="submit" type="submit" id="contact-submit">
                Enviar</button>
        </div>
        </form>
        <!-- /Form -->
    </div>
</div>
<aside style="float: right; margin: 50px 50px auto auto; width: 29.8%; height: 354px;
    text-align: justify; color: black;">
                <h3 style="font-size: 28px; color: #55B71D">
                    Consultas:</h3>
                <p style="margin-top: 0; line-height: normal">
                    San Borja 330, colonia: del Valle. Delegación: Benito Juárez C.P.:03100. México, D.F. Tel.:55237511</p>
                <p style="margin-bottom: 0; line-height: normal">
                    Xicoténcatl 216, Colonia: Del Carmen Coyoacán. Delegación: Coyoacán C.P.:04100. México D.F. Tel.:5913 9371 <a href="http://www.bocca.com.mx/" target="_blank">www.bocca.com.mx</a></p>
                @*<p style="margin-top: 0; font-size: 2.8em; line-height: normal">
                    55237511</p>
                <p style="font-size: 22px; line-height: normal">
                    Por correo:</p>
                <p style="font-size: 14px; text-transform: lowercase; line-height: normal">
                    <a style="color: White" href="mailto:contacto@estilodevidanutricion.com">contacto@estilodevidanutricion.com</a></p>*@
        </aside>
<br />
<br />
<div style="margin: 0 auto; width: 640px;">
    <iframe style="border: 6px solid #4eaa1a" width="640" height="480" frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps/ms?msid=211842175062061943958.0004dae4c483f2fc5c30b&amp;msa=0&amp;ie=UTF8&amp;t=h&amp;ll=19.38753,-99.172618&amp;spn=0.009716,0.013733&amp;z=16&amp;iwloc=0004dae4d668ab40c3f7e&amp;output=embed">
    </iframe>
    <br />
    <small>Ver <a href="https://maps.google.com.mx/maps/ms?msid=211842175062061943958.0004dae4c483f2fc5c30b&amp;msa=0&amp;ie=UTF8&amp;t=h&amp;ll=19.38753,-99.172618&amp;spn=0.009716,0.013733&amp;z=16&amp;iwloc=0004dae4d668ab40c3f7e&amp;source=embed"
        style="color: #4eaa1a; text-align: left">Estilo de vida y nutrición</a> en un mapa
        ampliado</small>
</div>
<br />
<br />
<script src="scripts/scripts.js" type="text/javascript"></script>
