﻿@{
    ViewBag.Title = "Inicio";
}
<!-- Slider -->
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")" type="text/javascript"></script>
<section style="width: 100%; height: 380px">
    <div style="float: left; width: 70%; height: 380px; border-top: 2px solid #F8931F;">
        <div style="width: 100%; background-color: #ffb120; color: #FFF">
            <p style="text-transform: uppercase; margin: 0; padding: 2px; font-size: 14px; height: 24px">
                Te recomendamos:</p>
        </div>
        <div style="width: 100%; height: 330px">
            <ul class="bxslider">
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 25px; width: 48%; float: left; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.9em; color: #4B391F; line-height: 150%;">
                                <span style="font-size: 2.0em">Q</span>ue el alimento sea tu mejor medicina y tu
                                mejor medicina sea tu alimento - <span style="font-size: .6em">Hipócrates de Cos</span>.</p>
                        </div>
                        <div style="margin: 5px 0 0 0; width: 48%; float: right;">
                            <img style="margin-left: 50px" src="../../Content/images/exoticfruits.png" alt="Frutas exóticas" />
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 25px; width: 100%; float: left; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.9em; color: #4B391F; line-height: 150%;
                                color: #55B71D">
                                <span style="font-size: 2.0em">C</span>ONSULTAS DE NUTRICIÓN</p>
                            <p style="margin: auto 50px auto 50px">
                                Consulta personalizada, individualizada y didáctica. En cada consulta te enseñamos
                                una nueva herramientas para mejorar tus hábitos de alimentación. <a style="color: #55B71D; font-weight: lighter; letter-spacing: -1px;"
                                    href="/Servicios#adultos" target="_self">Leer más</a>
                            </p>
                            <p style="color: #55B71D; text-align: center; font-size: 1.4em; line-height: 100%">
                                En nuestro consultorio o en la comodidad de tu casa.</p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 30px; width: 100%; float: left; padding: 12px; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.9em; color: #4B391F; line-height: 150%;
                                color: #3BBDD7">
                                <span style="font-size: 2.0em">C</span>ONSULTAS A DOMICILIO</p>
                            <p style="margin: auto 40px auto 40px">
                                Las consultas en la comodidad de tu casa, empresa u oficina con la misma
                                calidad y profesionalismo. Asesoria personalizada, individualizada y didáctica.<a style="color: #3BBDD7; font-weight: lighter;
                                    letter-spacing: -1px;" href="/Servicios#domicilio" target="_self">Leer más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 45px; width: 100%; float: left; padding: 12px; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.5em; color: #4B391F; line-height: 150%;
                                color: #F8931F">
                                <span style="font-size: 2.0em">P</span>LÁTICAS PARA EMPRESAS.</p>
                            <p style="margin: auto 40px auto 40px">
                                Una propuesta para que sus trabajadores tomen las mejores decisiones en su alimentación y ayudarlos a mejorar
                                su estilo de vida.
                                <a style="color: #F8931F; font-weight: lighter; letter-spacing: -1px;" href="/Servicios#empresas"
                                    target="_self">Leer más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 25px; width: 100%; float: left; padding: 12px; text-align: justify;">
                            <p style="margin: 15px 0 0 30px; font-size: 1.5em; color: #4B391F; line-height: 150%;
                                color: #4B391F">
                                <span style="font-size: 2.0em">P</span>LÁTICAS PARA ESCUELAS.
                            </p>
                            <p style="margin: auto 40px auto 40px">
                                Al ser una empresa preocupada por la salud y estado nutricional de nuestros niños
                                mexicanos ofrecemos temas variados relacionados a la salud y nutrición a los alumnos,
                                padres de familia y profesores. <a style="color: #4B391F; font-weight: lighter; letter-spacing: -1px;"
                                    href="/Servicios#escuelas" target="_self">Leer más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="float: right; margin-left: 2px; width: 29.8%; height: 354px; background-color: #55B71D;
        text-align: center; text-transform: uppercase; color: White">
        <p style="font-size: 22px; line-height: 120%">
            <strong>Consulta a distancia</strong></p>
        <p style="font-size: 18px; line-height: 120%; text-transform: none; text-align: left;
            margin: 4px 25px; padding: 2px;">
            1. Da clic en el boton de pago.</p>
        <p style="font-size: 18px; line-height: 120%; text-transform: none; text-align: justify;
            margin: 4px 25px; padding: 2px;">
            2. Añade una nota en la forma de pago de paypal con tu nombre, teléfono o celular
            y cuenta de skype o facebook.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="TWNF5U2MMFDUG" />
        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
            border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea." />
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
            width="1" height="1" />
        </form>
        <p style="margin: 0 auto 0 auto; font-size: 1.3em; line-height: 120%">
            55237511</p>
        <p style="margin: 0 auto 0 auto; font-size: 1.3em; line-height: 120%">
            0445527255390</p>
    </div>
</section>
<div style="width: 100%; overflow: hidden">
    <div class="description">
        <p>
            <span style="font-size: 3em; color: #3BBDD7">E</span>stilo de Vida & Nutrición,
            te ofrece <strong><a style="color: inherit" href="Servicios" target="_self">consultas
                de nutrición</a></strong> muy dinámicas para enseñarte métodos para mejorar
            tus hábitos y conductas alimentarias. Para informar y prevenir el sobrepeso, obesidad
            o sus complicaciones brindamos <strong><a style="color: inherit" href="Servicios"
                target="_self">platicas sobre nutrición</a></strong> a grupos, escuelas, oficinas
            y negocios.</p>
        <br />
        <p>
            Estilo de Vida es la forma de vivir basada en conductas y decisiones de acuerdo
            a las características de cada persona, educación, religión, interacciones socioculturales,
            nivel socioeconómico y el ambiente en el que se desarrolla.</p>
        <p style="color: #F57E20; text-align: center">
            El estilo de vida influye
            <br />
            Directamente en tu salud.</p>
        <img style="padding: 6px; margin: 8px; float: left;" src="../../Content/images/ejercitando.png"
            alt="Mujer ejercitando" />
        <p>
            Cuando uno de los factores que influyen tu estilo de vida, <strong>se altera o es inadecuado</strong>,
            tu salud se puede deteriorar y traducirse en <strong>cansancio</strong>, mal humor,
            estreñimiento, <strong>sobrepeso</strong>, obesidad, <strong>diabetes</strong>,
            hipertensión entre otras.</p>
        <p style="color: #3BBDD7; text-align: center">
            73% de las mujeres mayores de 20 años,<br />
            presenta sobrepeso u obesidad.</p>
        <p style="color: #55B71D; text-align: center">
            69.4% de los hombres mayores de 20 años<br />
            presenta sobrepeso u obesidad.</p>
        <p>
            <strong>Las 3 principales causas de muerte en México</strong> son enfermedades del
            corazón, diabetes y tumores malignos. Las cuales están relacionadas fuertemente
            con el sobrepeso, la obesidad y sus complicaciones.</p>
        <p style="color: #F57E20; text-align: center">
            33.3% de los hombres y 30.8% de las mujeres
            <br />
            presentan hipertensión en México.
        </p>
        <p>
            El consumo elevado de azúcar, alimentos como el refrescos, jugos, panecillos, postres;
            servirse porciones grandes de comida, la falta de conocimientos sobre nutrición
            y de actividad física son algunos de los factores que hacen que presentemos problemas
            de salud muy serios desde jóvenes.</p>
        <p style="color: #3BBDD7; text-align: center">
            1 de cada 5 adolescentes de 12 a 19 años
            <br />
            tienen sobrepeso, 1 de cada 10 tiene obesidad.
        </p>
        @*<p>
            Estilo de Vida & Nutrición, te ofrece <strong><a style="color: inherit" href="Servicios"
                target="_self">consultas de nutrición</a></strong> muy dinámicas para ofrecerte
            herramientas para mejorar tus hábitos y conductas alimentarias. Para prevenir el
            sobrepeso, obesidad o sus complicaciones brindamos <strong><a style="color: inherit"
                href="Servicios" target="_self">platicas sobre nutrición</a></strong> a grupos,
            escuelas, oficinas y negocios.</p>*@
        <img style="float: right; padding: 6px;" src="../../Content/images/Naranjas.jpg"
            alt="Naranjas" />
    </div>
    <div style="float: right; width: 29.4%; background-color: #3BBDD7; color: White;
        text-align: center; margin: 1px;">
        <form name="imc">
        <h3 style="font-size: 1.4em">
            Índice de Masa Corporal</h3>
        <div>
            <label>
                <span>Peso: *</span>
                <input style="width: 40px" name="peso" placeholder="70" type="text" tabindex="1"
                    required>
                Kg
            </label>
        </div>
        <br />
        <div>
            <label>
                <span>Altura: *</span>
                <input style="width: 40px" name="altura" placeholder="1.70" type="text" tabindex="1"
                    required>
                m
            </label>
        </div>
        <br />
        <div>
            <label>
                <span>IMC:</span> <span id="resultado"></span>
                <br />
                <span id="diagnostico"></span>
                <br />
                <span id="ideal"></span>
            </label>
        </div>
        <br />
        <div>
            <input type="button" name="Calcular" value="Calcular" onclick="calcula()" />
        </div>
        </form>
    </div>
</div>
<br />
<br />
<script type="text/javascript">
    function calcula(operacion) {
        document.getElementById('resultado').innerHTML = "";
        document.getElementById('ideal').innerHTML = "";

        var peso = document.imc.peso.value
        var altura = document.imc.altura.value
        var resultado = eval(peso / (altura * altura));
        var pesoIdealM = eval(22 * (altura * altura))
        var pesoIdealH = eval(24 * (altura * altura))
        resultado = resultado + '';
        var res = resultado.substr(0, 4);
        pesoIdealM = pesoIdealM + '';
        pesoIdealH = pesoIdealH + '';
        pesoIdealM = pesoIdealM.substr(0, 4);
        pesoIdealH = pesoIdealH.substr(0, 4);

        var myTextArea = document.getElementById('resultado');
        myTextArea.innerHTML += res;
        var textIdeal = document.getElementById('ideal');
        textIdeal.innerHTML += "Peso ideal mujer: " + pesoIdealM + "<br /> Peso ideal hombre: " + pesoIdealH;

        resultados(resultado);
    };

    function resultados(resultado) {
        document.getElementById('diagnostico').innerHTML = "";

        if (resultado < 25) {
            var myTextArea = document.getElementById('diagnostico');
            myTextArea.innerHTML += 'Peso normal';
            myTextArea.style.color = "White";
        }

        if (resultado < 29.9 && resultado >= 25) {
            var myTextArea = document.getElementById('diagnostico');
            myTextArea.innerHTML += 'Sobrepeso';
            myTextArea.style.color = "Yellow";
        }
        if (resultado < 34.9 && resultado >= 30) {
            var myTextArea = document.getElementById('diagnostico');
            myTextArea.innerHTML += 'Obesidad I';
            myTextArea.style.color = "Red";
        }
        if (resultado < 39.9 && resultado >= 35) {
            var myTextArea = document.getElementById('diagnostico');
            myTextArea.innerHTML += 'Obesidad II';
            myTextArea.style.color = "Red";
        }
        if (resultado > 40) {
            var myTextArea = document.getElementById('diagnostico');
            myTextArea.innerHTML += 'Obesidad III';
            myTextArea.style.color = "Red";
        }
    };
</script>
