﻿@{
    ViewBag.Title = "Nosotros";
}
<div class="contentWrapper">
    <h3 style="color: #55B71D">
        ¿QUIÉNES SOMOS?</h3>
    <p>
        Estilo de Vida & Nutrición (EV&N) es una empresa joven, fundada por la Licenciada
        en Dietética y Nutrición Alexandra Hurtado Piña el 3 de junio del 2011, como un
        consultorio privado de nutrición. En el 2012, se amplía dando otros servicios, entre
        ellos, platicas en clínicas, empresas, a trabajadores de servicios de alimentos
        y finalmente, consultoría a un restaurante Bento Life.</p>
    <p style="text-align: center">
        <a href="http://edn.issste.gob.mx/" target="_blank">
            <img src="../../Content/images/escueladietetica.jpg" alt="Escuela de Dietética y Nutrición del ISSSTE (EDN)" /></a>
    </p>
    <p>
        Nuestro equipo de trabajo esta integrado por la L.N. Alexandra Hurtado Piña, L.N.
        Fabiola Mendoza Guzmán con estudios en Dietética y Nutrición en la Escuela de Dietética
        y Nutrición del ISSSTE (EDN). Además contamos con la asesoría de la L.N. Ma. Fernanda
        Carrasco Ruiz con estudios en la EDN y con estudios en curso de la Maestría en Nutrición
        Clínica en el Hospital de Perinatología. Finalmente, contamos con la asesoría de
        la Mtra. En pedagogía, Beatriz Eugenia Villalón Piña, para asegurar la calidad de
        cada una de las actividades que ofrecemos en EV&N.</p>
    <img src="../../Content/images/jitomate.png" alt="Jitomates" />
    <p>
        Todas las actividades así como programas que se realizan en Estilo de Vida & Nutrición,
        se basan en la experiencia de nuestro grupo, de las Guías de la Asociación Americana
        de Diabetes (ADA), el National Cholesterol Education Program Third Adult Treatmente
        Panel (NCEP ATP III), Normas Oficiales Mexicanas como la NOM-043-SSA2-2005, Servicios
        básicos de salud. Promoción y educación para la salud en materia alimentaria. Criterios
        para brindar orientación, la NOM-174-SSA1-1998, para el manejo integral de la obesidad,
        la NOM-015-SSA2-1994, para la prevención, tratamiento y control de la diabetes y
        NOM-251-SSA1-2009, Prácticas de higiene para el proceso de alimentos, bebidas o
        suplementos alimenticios entre otras más.</p>
    <p>
        En un futuro EV&N, brindará atención multidisciplinaria (nutricional, medica, psicológica,
        física, entre otras) a todas las personas que lo deseen o lo requieran. Además brindará
        atención a las comunidades para abatir los problemas de nutrición presentes.</p>
    <p>
        EV&N se caracteriza por ofrecer consultas en casa, lugar de trabajo o donde se encuentre
        la persona con una atención calida, familiar, personalizada y basada en valores
        de respeto e igualdad.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="m" style="visibility: hidden">Misión</span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 style="color: #3BBDD7">
        Misión</h3>
    <p>
        Estilo de vida & Nutrición tiene la misión de promover en la población mexicana
        el adquirir hábitos correctos para alcanzar un estilo de vida saludable mediante
        actividades dinámicas y educativas.</p>
    <img style="float: right" src="../../Content/images/lapiz.jpg" alt="Lapíz" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="v" style="visibility: hidden">Visión</span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 style="color: #F8931F">
        Visión</h3>
    <p>
        Ser la empresa con mayor reconocimiento en la Republica Mexicana, la cual brinde
        todo tipo de servicios de salud con enfoque en nutrición, para mejorar el estilo
        de vida de los mexicanos.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="o" style="visibility: hidden">Objetivo</span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 style="color: red">
        Objetivo General</h3>
    <p>
        Brindarle a los mexicanos el tratamiento y los conocimientos nutricionales necesarios
        para adquirir conductas alimentarias adecuadas y de esta forma gocen de un estilo
        de vida saludable.</p>
    <div style="position: fixed; right: 100px; bottom: 100px">
        <p>
            <a style="font-size: .9em; color: red; text-decoration: none" href="#top">
                <img src="../../Content/images/arriba.png" alt="Subir" />
                Subir</a></p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<br />
<br />
