﻿@{
    ViewBag.Title = "Pago realizado";
}
<div class="contentWrapper">
    <h3>
        Pago exitoso</h3>
    <p>
        Te agendamos tu cita que se llevará acabo en facebook o en skype.</p>
    <p>
        Cualquier duda contáctanos.</p>
</div>
