﻿@{
    ViewBag.Title = "Servicios";
}
<script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")" type="text/javascript"></script>
<div style="width: 100%; height: 380px">
    <div style="float: left; width: 70%; height: 380px; border-top: 2px solid #F8931F;">
        <div style="width: 100%; background-color: #ffb120; color: #FFF">
            <p style="text-transform: uppercase; margin: 0; padding: 2px; font-size: 14px; height: 24px">
                Te recomendamos:</p>
        </div>
        <div style="width: 100%; height: 330px">
            <ul class="bxslider">
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 25px; width: 100%; float: left; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.9em; color: #4B391F; line-height: 150%;
                                color: #55B71D">
                                <span style="font-size: 2.0em">C</span>ONSULTAS DE NUTRICIÓN</p>
                            <p style="margin: auto 50px auto 50px">
                                Consulta personalizada, individualizada y didáctica. En cada consulta te enseñamos
                                una nueva herramientas para mejorar tus hábitos de alimentación. <a style="color: #55B71D;
                                    font-weight: lighter; letter-spacing: -1px;" href="#adultos" target="_self">Leer
                                    más</a>
                            </p>
                            <p style="color: #55B71D; text-align: center; font-size: 1.4em; line-height: 100%">
                                En nuestro consultorio o en la comodidad de tu casa.</p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 30px; width: 100%; float: left; padding: 12px; text-align: justify;
                            vertical-align: middle">
                            <p style="margin: 0 0 0 30px; font-size: 1.9em; color: #4B391F; line-height: 150%;
                                color: #3BBDD7">
                                <span style="font-size: 2.0em">C</span>ONSULTAS A DOMICILIO</p>
                            <p style="margin: auto 40px auto 40px">
                                Las consultas en la comodidad de tu casa, empresa u oficina con la misma calidad
                                y profesionalismo. Asesoria personalizada, individualizada y didáctica. <a style="color: #3BBDD7;
                                    font-weight: lighter; letter-spacing: -1px;" href="#domicilio" target="_self">Leer
                                    más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 45px; width: 100%; float: left; padding: 12px; text-align: justify;">
                            <p style="margin: 0 0 0 30px; font-size: 1.5em; color: #4B391F; line-height: 150%;
                                color: #F8931F">
                                <span style="font-size: 2.0em">P</span>LATICAS PARA EMPRESAS.</p>
                            <p style="margin: auto 40px auto 40px">
                                Una propuesta para que sus trabajadores tomen las mejores decisiones en su alimentación
                                y ayudarlos a mejorar su estilo de vida. <a style="color: #F8931F; font-weight: lighter;
                                    letter-spacing: -1px;" href="#empresas" target="_self">Leer más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
                <li>
                    <div style="width: 100%; height: 262px; background-color: #FFF">
                        <div style="margin-top: 25px; width: 100%; float: left; padding: 12px; text-align: justify;">
                            <p style="margin: 15px 0 0 30px; font-size: 1.5em; color: #4B391F; line-height: 150%;
                                color: #4B391F;">
                                <span style="font-size: 2.0em">P</span>LATICAS PARA ESCUELAS.
                            </p>
                            <p style="margin: auto 40px auto 40px">
                                Al ser una empresa preocupada por la salud y estado nutricional de nuestros niños
                                mexicanos ofrecemos temas variados relacionados a la salud y nutrición a los alumnos,
                                padres de familia y profesores. <a style="color: #4B391F; font-weight: lighter; letter-spacing: -1px;"
                                    href="#escuelas" target="_self">Leer más</a></p>
                        </div>
                    </div>
                    <div style="width: 100%; height: 62px; background-color: #4B391F">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="float: right; margin-left: 2px; width: 29.8%; height: 354px; background-color: #55B71D;
        text-align: center; text-transform: uppercase; color: White">
        <p style="font-size: 22px; line-height: 120%">
            <strong>Consulta a distancia</strong></p>
        <p style="font-size: 18px; line-height: 120%; text-transform: none; text-align: left;
            margin: 4px 25px; padding: 2px;">
            1. Da clic en el boton de pago.</p>
        <p style="font-size: 18px; line-height: 120%; text-transform: none; text-align: justify;
            margin: 4px 25px; padding: 2px;">
            2. Añade una nota en la forma de pago de paypal con tu nombre, teléfono o celular
            y cuenta de skype o facebook.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="TWNF5U2MMFDUG" />
        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
            border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea." />
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
            width="1" height="1" />
        </form>
        <p style="margin: 0 auto 0 auto; font-size: 1.3em; line-height: 120%">
            55237511</p>
        <p style="margin: 0 auto 0 auto; font-size: 1.3em; line-height: 120%">
            0445527255390</p>
    </div>
</div>
<div class="contentWrapper">
    <span id="adultos" style="visibility: hidden">Misión</span>
    <br />
    <br />
    <br />
    <h2 style="color: #55B71D">
        CONSULTAS DE NUTRICIÓN</h2>
    <p>
        Consulta personalizada, individualizada y didáctica. Cada consulta te enseñamos
        una nueva herramientas para mejorar tus hábitos de alimentación y en un futuro tengas
        un estilo de vida saludable.
    </p>
    <h4 style="color: #55B71D">
        BENEFICIOS.</h4>
    <img style="float: right; padding: 6px; margin: 4px;" src="../../Content/images/consultanutricion.png"
        alt="Consultas de nutrición" />
    <ul style="text-align: left">
        <li>Atención personalizada, calida y profesional.</li>
        <li>Corrección de hábitos incorrectos.</li>
        <li>Conocimiento de los grupos de alientos y sus propiedades.</li>
        <li>Cambios de conductas alimentarías. </li>
        <li>Prevención y regresión de sobrepeso y obesidad.</li>
        <li>Coadyuvar en el tratamiento de enfermedades.</li>
        <li>Coadyuvar en el tratamiento de complicaciones de la enfermedad de base.</li>
        <li>Mejorar la calidad de vida.</li>
    </ul>
    <h4 style="color: #55B71D">
        DESARROLLO DE LA CONSULTA</h4>
    <h4 style="color: #55B71D">
        Consulta de 1ª vez:</h4>
    <ul>
        <li>Historia Clínica Nutriológica</li>
        <li>Medidas antropométricas</li>
        <li style="list-style: none">
            <ul>
                <li>Peso</li>
                <li>Índice de Masa Corporal (IMC)</li>
                <li>Circunferencia de abdomen (CA)</li>
                <li>Circunferencia de cintura y cadera (CC)</li>
                <li>Índice cintura cadera (ICC)</li>
                <li>Complexión</li>
                <li>Porcentajes de grasa corporal, masa muscular y masa ósea</li>
            </ul>
        </li>
        <li>Diagnóstico nutricional de la American Dietetic Asociatión.</li>
        <li>Plan de alimentación.</li>
    </ul>
    <h4 style="color: #55B71D">
        Consulta subsecuentes:</h4>
    <ul>
        <li>Observar avances en la conducta alimentaria y mejoramiento de hábitos</li>
        <li>Medidas antropométricas</li>
        <li>peso</li>
        <li>Índice de Masa Corporal (IMC)</li>
        <li>Circunferencia de abdomen (CA)</li>
        <li>Circunferencia de cintura y cadera (CC)</li>
        <li>Índice cintura cadera (ICC)</li>
        <li>Se enseña <strong style="color: #55B71D"><a style="text-decoration: none; color: inherit"
            href="#estrategia">Estrategia para el Cambio</a></strong>.</li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="domicilio" style="visibility: hidden">Misión</span>
    <br />
    <br />
    <br />
    <h2 style="color: #3BBDD7">
        CONSULTAS A DOMICILIO</h2>
    <p>
        Las consultas en la comodidad de tu cada, en una empresa y oficina sin cambiar la
        calidad, ni profesionalismo. La consulta es personalizada, individualizada y didáctica.
        Cada consulta te enseñamos una nueva herramienta para mejorar tus hábitos de alimentación
        y en un futuro tengas un estilo de vida saludable.</p>
    <h4 style="color: #3BBDD7">
        BENEFICIOS.</h4>
    <img style="float: right; padding: 6px; margin: 4px;" src="../../Content/images/consultadomicilio.png"
        alt="Consulta a domicilio" />
    <ul style="text-align: left">
        <li>Sin desplazarse</li>
        <li>Evita contratiempos por el tráfico o marchas</li>
        <li>Corrección de hábitos incorrectos</li>
        <li>Conocimiento de temas de nutrición</li>
        <li>Cambios de conductas alimentarías</li>
        <li>Prevención y regresión de sobrepeso y obesidad</li>
        <li>Coadyuvar en el tratamiento de enfermedades</li>
        <li>Coadyuvar en el tratamiento de complicaciones de la enfermedad de base</li>
        <li>Mejorar la calidad de vida</li>
    </ul>
    <h4 style="color: #3BBDD7">
        DESARROLLO DE LA CONSULTA:</h4>
    <p>
        Todo el material, aparatos y herramientas utilizadas para el desarrollo de tu consulta
        es proporcionado por Estilo de Vida & Nutrición con excepción del espacio donde
        se llevará acabo.</p>
    <h4 style="color: #3BBDD7">
        Primera Consulta:</h4>
    <ul>
        <li>Historia Clínica Nutriológica</li>
        <li>Medidas antropométricas</li>
        <li style="list-style: none">
            <ul>
                <li>Peso</li>
                <li>Índice de Masa Corporal (IMC)</li>
                <li>Circunferencia de abdomen (CA)</li>
                <li>Circunferencia de cintura y cadera (CC)</li>
                <li>Índice cintura cadera (ICC)</li>
                <li>Complexión</li>
                <li>Porcentajes de grasa corporal, masa muscular y masa ósea</li>
            </ul>
        </li>
        <li>Diagnóstico nutricional de la American Dietetic Asociatión</li>
        <li>Plan de alimentación</li>
    </ul>
    <h4 style="color: #3BBDD7">
        Consulta subsecuentes:</h4>
    <ul>
        <li>Observar avances en la conducta alimentaria y mejoramiento de hábitos</li>
        <li>Medidas antropométricas</li>
        <li>peso</li>
        <li>Índice de Masa Corporal (IMC)</li>
        <li>Circunferencia de abdomen (CA)</li>
        <li>Circunferencia de cintura y cadera (CC)</li>
        <li>Índice cintura cadera (ICC)</li>
        <li>Se enseña <strong style="color: #3BBDD7"><a style="text-decoration: none; color: inherit"
            href="#estrategia">Estrategia para el Cambio</a></strong>.</li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="estrategia" style="visibility: hidden">Estrategias</span>
    <br />
    <br />
    <br />
    <h2>
        <span style="color: #55B71D">ESTRATEGIAS</span> <span style="color: #3BBDD7">PARA</span>
        <span style="color: #F8931F">EL CAMBIO</span></h2>
    <p>
        Las estrategias, son actividades que se realizan en tu consulta. Se utiliza material
        didáctico, utensilios y más para que aprendas un nuevo concepto o consejo de forma
        practica y de esta forma, asegurar la comprensión y adquisición del concepto. Cada
        consulta se realiza solo UNA estrategia.</p>
    <p>
        (En paréntesis se presenta el tiempo que toma la estrategia.)</p>
    <img style="float: right; padding: 6px; margin: 4px;" src="../../Content/images/mujerescocinando.png"
        alt="Mujeres cocinando" />
    <ol>
        <li>Fotografía previa y posterior al tratamiento nutricional. (3min.)</li>
        <li>Evaluación antropométrica. (10-15min)</li>
        <li>Cuestionario para evaluar los puntos que debemos reforzar para que realices cambios.
            (10min)</li>
        <li>Beneficios y desventajas de realizar cambios. (10 min.)</li>
        <li>Conocer el Plato del bien comer. (10 min.)</li>
        <li>Conocer las características de una alimentación correcta. (15-20 min.)</li>
        <li>Identificar cantidades y porciones. (10 min.)</li>
        <li>Sustitución de alimentos con alto contenido energético por alimentos con bajo contenido
            energético (10 -15 min.)</li>
        <li>Cómo realizar dietas volumétricas ( 20 min.)</li>
        <li>Aprender a leer correctamente las etiquetas de los productos. (10-15 min.)</li>
        <li>Realizar compras saludables. (1 hora)</li>
        <li>¿Cómo pedir platillos saludables en restaurantes? (20-30 min.)</li>
        <li>Creación y planeación de Botanas Saludables (20- 25 min.)</li>
        <li>Planeación y preparación de platillos para cada ocasión.(20-30 min)</li>
        <li>Prueba de Condición Física (30 min.)</li>
        <li>Asignación del tipo de ejercicio o actividad física adecuada. (5 min)</li>
        <li>Platicas en grupo. (1 hora)</li>
    </ol>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="empresas" style="visibility: hidden">Empresas</span>
    <br />
    <br />
    <br />
    <h2 style="color: #F8931F">
        PLÁTICAS PARA EMPRESAS</h2>
    <p>
        Las pláticas son una propuesta para que las empresas, negocios o instituciones orienten
        y dirijan a sus trabajadores a tomar las mejores decisiones, ayudarlos a mejorar
        su estilo de vida y es una forma de prevenir el sobrepeso, obesidad o sus comorbilidades.</p>
    <p>
        Al ser una empresa preocupada por la salud y estado nutricional de las miles de
        personas que trabajan diario y no pueden cuidar su salud, ofrecemos temas variados
        relacionados a la salud nutricional.</p>
    <h4 style="color: #F8931F">
        BENEFICIOS:</h4>
    <ul>
        <li>Formar parte de la cadena de cambios en el estilo de vida de las personas</li>
        <li>Informar y actualizar a los trabajadores sobre temas relacionados con la nutrición</li>
        <li>Prevención y regresión de factores de riesgo</li>
        <li>Promoción de un estilo de vida saludable de forma didáctica y dinámica</li>
        <li>Las dudas de una persona son las de muchos, de esta forma amplías la información</li>
        <li>Mejor salud a los trabajadores de tal forma que aumenta su productividad</li>
    </ul>
    <h4 style="color: #F8931F">
        DESARROLLO DE LA PLÁTICA:</h4>
    <ul>
        <li>Presentación de la Nutrióloga (3 min.)</li>
        <li>Platica de temas selectos. Duración 30-40 min</li>
        <li>Realización de dinámica para asegurar el reforzamiento de los conocimientos obtenidos,
            con duración de 10 minutos</li>
        <li>Sesión de preguntas y respuestas con duración de 10 minutos</li>
    </ul>
    <p>
        <strong>Nota:</strong> Todas las pláticas tienen una actividad didáctica acorde
        a la edad del grupo para reforzar lo expuesto en la plática.</p>
    <h3 style="color: #F8931F">
        PLÁTICAS DISPONIBLES</h3>
    <p>
        Las están enfocadas para los trabajadores pero también sabemos que la mayoría son
        padres de familia por lo que nos parece una buena oportunidad para presentar también
        temas para padres de familia.
    </p>
    <h4 style="color: #F8931F">
        ADULTOS</h4>
    <img style="float: right; padding: 6px; margin: 4px;" src="../../Content/images/comidaadultos.png"
        alt="Comidas adultos" />
    <ol>
        <li><strong>Alimentación correcta:</strong> El sujeto aprenderá la diferencia entre
            nutrición, alimentación y comer, el plato del bien comer, las características de
            una alimentación correcta y recomendaciones para hacer cambios para adquirir un
            estilo de vida saludable</li>
        <li><strong>Control de ansiedad:</strong> El auditorio conocerá la definición de ansiedad,
            el origen y ciertos consejos para disminuirla o abatirla</li>
        <li><strong>Sobrepeso y Obesidad:</strong> El individuo conocerá los factores de riesgo,
            complicaciones, diagnostico, tratamiento y recomendaciones para la prevención y
            regresión de esta enfermedad</li>
        <li><strong>Diabetes Mellitus:</strong> El individuo conocerá la definición, los factores
            de riesgo, complicaciones, diagnostico, tratamiento y recomendaciones para la prevención
            y control de esta enfermedad</li>
        <li><strong>Hipertensión:</strong> El individuo conocerá la definición, los factores
            de riesgo, complicaciones, diagnostico, tratamiento y recomendaciones para la prevención
            y control de esta enfermedad</li>
        <li><strong>Actividad Física:</strong> Aprenderá la diferencia entre ejercicio, actividad
            física y deporte, los tipos e intensidades a las que se realiza ciertas actividades,
            los beneficios, las indicaciones y contraindicaciones de la actividad física y como
            iniciar a activarse</li>
        <li><strong>Alimentación correcta en el trabajo:</strong> El trabajador conocerá algunas
            recomendaciones y cambios que puede realizar para mejorar su alimentación en horas
            de trabajo</li>
        <li><strong>Alimentación correcta fuera de casa:</strong> El trabajador conocerá algunas
            recomendaciones y cambios que puede realizar comen fuera de casa</li>
        <li><strong>Temas Extras:</strong> temas solicitados por la empresa, se elaborar por
            nuestro equipo de trabajo en un periodo de 1 semana con información actualizada
            y especializada</li>
    </ol>
    <h4 style="color: #F8931F">
        PADRES DE FAMILIA:</h4>
    <img style="float: right; padding: 6px; margin: 4px;" src="../../Content/images/comidaenfamilia.png"
        alt="Comida en familia" />
    <ol>
        <li><strong>Ablactación:</strong> Los padres aprenderán la técnica correcta de incorporar
            poco a poco todos los grupos de alimentos en el menú del niño de 4-6 mese</li>
        <li><strong>Alimentación en el preescolar:</strong> El padre conocerá más sobre la alimentación
            correcta que deben de llevar los niños de 1 a 6 años</li>
        <li><strong>Alimentación en el escolar:</strong> El adulto conocerá más sobre la alimentación
            correcta que deben de llevar los niños 6 a 11 años</li>
        <li><strong>Alimentación en el adolescente:</strong> Los padres de familia conocerán
            más sobre la alimentación correcta que deben de llevar los jóvenes de 12 a 18 años</li>
        <li><strong>Actividad Física:</strong> Los papás aprenderán la diferencia entre ejercicio,
            actividad física y deporte, los tipos e intensidades a las que se realiza ciertas
            actividades, los beneficios, las indicaciones y contraindicaciones para sus hijos
            y como iniciar a activarse</li>
        <li><strong>Obesidad infantil:</strong> El padre de familia aprenderá el origen, las
            complicaciones y algunas formas de prevenir o revertir esta enfermedad en los niños</li>
        <li><strong>Anorexia y Bulimia:</strong> El adulto podrá identificar si su hijo es propensa
            o tiene alguna de estas dos enfermedades al adquirir el conocimiento de su origen,
            los factores de riesgo, las complicaciones esta patología</li>
        <li><strong>Un lunch saludable:</strong> El padre de familia distinguirá los alimentos
            idóneos para la creación del menú de sus niños y proponérselos de forma creativa
            y practica</li>
        <li><strong>Higiene y salud:</strong> Los adultos conocerán las técnicas más comunes
            de lavado, desinfección y esterilizado que se pueden realizar en casa para evitar
            enfermedades provenientes de los alimentos</li>
    </ol>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span id="escuelas" style="visibility: hidden">Escuelas</span>
    <br />
    <br />
    <br />
    <h2 style="color: Red">
        PLÁTICAS PARA ESCUELAS</h2>
    <p>
        Las platicas son una propuesta para que las escuelas orienten y dirijan a sus alumnos,
        padres de familia y maestros a tomar las mejores decisiones, ayudarlos a mejorar
        su estilo de vida y es una forma de prevenir el sobrepeso y obesidad infantil y
        sus complicaciones.</p>
    <p>
        Al ser una empresa preocupada por la salud y estado nutricional de nuestros niños
        mexicanos ofrecemos temas variados relacionados a la salud y nutrición a los alumnos,
        padres de familia y profesores.</p>
    <h4 style="color: red">
        BENEFICIOS:</h4>
    <img style="float: right;" src="../../Content/images/lapices.jpg" alt="Lápices" />
    <ul>
        <li>Formar parte de la cadena de cambios en el estilo de vida de los niños</li>
        <li>Informar y actualizar a los padres y maestros sobre temas relacionados con la nutrición
            de los niños</li>
        <li>Prevención y regresión de factores de riesgo</li>
        <li>Promoción de un estilo de vida saludable de forma didáctica y dinámica</li>
        <li>Las dudas de una persona son las de muchos, de esta forma amplías la información</li>
        <li>Mejorar el desempeño y desarrollo de los niños al intervenir en su entorno</li>
    </ul>
    <h4 style="color: red">
        DESARROLLO DE LA PLÁTICA</h4>
    <ul>
        <li>Presentación de la Nutrióloga (3 min.)</li>
        <li>Platica de temas selectos. Duración 30-40 min</li>
        <li>Realización de dinámica para asegurar el reforzamiento de los conocimientos obtenidos,
            con duración de 10 minutos</li>
        <li>Sesión de preguntas y respuestas con duración de 10 minutos</li>
    </ul>
    <p>
        <strong>Nota: </strong>Todas las pláticas tienen una actividad didáctica acorde
        a la edad del grupo para reforzar lo expuesto en la plática.
    </p>
    <h3 style="color: Red">
        PLÁTICAS DISPONIBLES</h3>
    <h4 style="color: Red">
        NIÑOS</h4>
    <h4 style="color: Red">
        PREESCOLAR</h4>
    <ol>
        <li><strong>Plato del bien comer:</strong> El niño aprenderá con una historia los grupos
            de alimentos y algunos ejemplos</li>
        <li><strong>Higiene:</strong> El niño aprenderá sobre la higiene personal y de los alimentos
            con actividades didácticas</li>
    </ol>
    <h4 style="color: red">
        PRIMARIA BAJA</h4>
    <ol>
        <li><strong>Plato del bien comer:</strong> El niño aprenderá muy bien los grupos de
            alimentos, ejemplos de cada grupo, cómo ayudarse con esta herramienta para mejorar
            su alimentación</li>
        <li><strong>Alimentación correcta:</strong> El niño identificará de una manera sencilla
            si su alimentación es completa, equilibrada, suficiente, adecuada y con las medidas
            de higiene necesarias</li>
        <li><strong>Actividad Física:</strong> El alumno aprenderá la importancia de hacer ejercicio
            y algunas actividades que puede realizar</li>
        <li><strong>Higiene:</strong> El niño aprenderá sobre la higiene personal y de los alimentos
            que debe de tener para no enfermarse</li>
    </ol>
    <h4 style="color: red">
        PRIMARIA ALTA</h4>
    <ol>
        <li><strong>Plato del bien comer:</strong> El niño conocerá muy bien los grupos de alimentos,
            ejemplos de cada grupo, cómo ayudarse con esta herramienta para mejorar su alimentación</li>
        <li><strong>Alimentación correcta:</strong> El niño identificará de una manera sencilla
            si su alimentación es completa, equilibrada, suficiente, adecuada y con las medidas
            de higiene necesarias</li>
        <li><strong>Actividad Física:</strong> Los alumnos aprenderán la diferencia entre ejercicio,
            actividad física y deporte, los tipos e intensidades a las que se realiza ciertas
            actividades y los beneficios</li>
        <li><strong>Obesidad y Sobrepeso:</strong> El niño conocerá más sobre la obesidad, los
            factores de riesgo, los daños a la salud y la prevención de una forma sencilla y
            amigable para ellos</li>
        <li><strong>Anorexia y Bulimia (mayores de 9 años):</strong> El niño podrá distinguir
            entre la diferencia de estas dos enfermedades, el origen, factores de riesgo, los
            daños a la salud y la prevención de una manera sencilla y amigable para que los
            niños entiendan un poco más esta enfermedad</li>
        <li><strong>Higiene:</strong> El niño aprenderá sobre la higiene personal y de los alimentos
            que debe de tener para no enfermarse</li>
    </ol>
    <img src="../../Content/images/mandarinas.jpg" alt="Mandarinas" />
    <h4 style="color: red">
        SECUNDARÍA Y PREPARATORIA</h4>
    <ol>
        <li><strong>Plato del bien comer:</strong> El niño conocerá muy bien los grupos de alimentos,
            ejemplos de cada grupo, cómo ayudarse con esta herramienta para mejorar su alimentación</li>
        <li><strong>Alimentación correcta:</strong> El niño identificará de una manera sencilla
            si su alimentación es completa, equilibrada, suficiente, adecuada y con las medidas
            de higiene necesarias</li>
        <li><strong>Actividad Física:</strong> Los alumnos aprenderán la diferencia entre ejercicio,
            actividad física y deporte, los tipos e intensidades a las que se realiza ciertas
            actividades y los beneficios</li>
        <li><strong>Obesidad y Sobrepeso:</strong> El niño conocerá más sobre la obesidad, los
            factores de riesgo, los daños a la salud y la prevención de una forma sencilla y
            amigable para ellos</li>
        <li><strong>Anorexia y Bulimia (mayores de 9 años):</strong> El niño podrá distinguir
            entre la diferencia de estas dos enfermedades, el origen, factores de riesgo, los
            daños a la salud y la prevención de una manera sencilla y amigable para que los
            niños entiendan un poco más esta enfermedad</li>
        <li><strong>Higiene:</strong> El niño aprenderá sobre la higiene personal y de los alimentos
            que debe de tener para no enfermarse</li>
    </ol>
    <h4 style="color: red">
        PADRES DE FAMILIA:</h4>
    <img style="float: right" src="../../Content/images/fresa.jpg" alt="Fresa" />
    <ol>
        <li><strong>Ablactación:</strong> Los padres aprenderán la técnica correcta de incorporar
            poco a poco todos los grupos de alimentos en el menú del niño de 4-6 mese</li>
        <li><strong>Alimentación en el preescolar:</strong> El padre conocerá más sobre la alimentación
            correcta que deben de llevar los niños de 1 a 6 años</li>
        <li><strong>Alimentación en el escolar:</strong> El adulto conocerá más sobre la alimentación
            correcta que deben de llevar los niños 6 a 11 años</li>
        <li><strong>Alimentación en el adolescente:</strong> Los padres de familia conocerán
            más sobre la alimentación correcta que deben de llevar los jóvenes de 12 a 18 años</li>
        <li><strong>Actividad Física:</strong> Los papás aprenderán la diferencia entre ejercicio,
            actividad física y deporte, los tipos e intensidades a las que se realiza ciertas
            actividades, los beneficios, las indicaciones y contraindicaciones para sus hijos
            y como iniciar a activarse</li>
        <li><strong>Obesidad infantil:</strong> El padre de familia aprenderá el origen, las
            complicaciones y algunas formas de prevenir o revertir esta enfermedad en los niños</li>
        <li><strong>Anorexia y Bulimia:</strong> El adulto podrá identificar si su hijo es propensa
            o tiene alguna de estas dos enfermedades al adquirir el conocimiento de su origen,
            los factores de riesgo, las complicaciones esta patología</li>
        <li><strong>Un lunch/ refrigerio saludable:</strong> El padre de familia distinguirá
            los alimentos idóneos para la creación del menú de sus niños y proponérselos de
            forma creativa y práctica</li>
        <li><strong>Higiene y salud:</strong> Los adultos conocerán las técnicas más comunes
            de lavado, desinfección y esterilizado que se pueden realizar en casa para evitar
            enfermedades provenientes de los alimentos</li>
    </ol>
    <img src="../../Content/images/manzana.png" alt="Manzana" />
    <h4 style="color: red">
        MAESTROS:</h4>
    <ol>
        <li><strong>Ablactación:</strong> Los maestros aprenderán la técnica correcta de incorporar
            poco a poco todos los grupos de alimentos en el menú del niño de 4-6 meses</li>
        <li><strong>Alimentación en el preescolar:</strong> El maestro conocerá más sobre la
            alimentación correcta que deben de llevar los niños de 1 a 6 años</li>
        <li><strong>Alimentación en el escolar:</strong> El maestro conocerá más sobre la alimentación
            correcta que deben de llevar los niños de 6 a 11 años</li>
        <li><strong>Alimentación en el adolescente:</strong> El adulto conocerá más sobre la
            alimentación correcta que deben de llevar los jóvenes de 11 a 18 años</li>
        <li><strong>Actividad Física:</strong> Los maestros aprenderán la diferencia entre ejercicio,
            actividad física y deporte, los tipos e intensidades a las que se realiza ciertas
            actividades, los beneficios, las indicaciones y contraindicaciones de la actividad
            física y como iniciar a activarse</li>
        <li><strong>Obesidad infantil:</strong> Los maestros aprenderán el origen, las complicaciones
            y algunas formas de prevenir o revertir esta enfermedad</li>
        <li><strong>Anorexia y Bulimia:</strong> El adulto podrá identificar de cierta forma
            si su hijo o alumno es propensa o tiene alguna de estas dos enfermedades al adquirir
            el conocimiento de su origen, los factores de riesgo, las complicaciones y algunas
            formas de ayudar al menor a superar esta patología</li>
        <li><strong>Un lunch/ refrigerio saludable:</strong> El maestro aprenderá cuales son
            los alimentos idóneos para la preparación del lunch de los alumnos</li>
        <li><strong>Higiene y salud:</strong> Los docentes conocerán las técnicas más comunes
            de lavado, desinfección y esterilizado que se pueden realizar en la escuela para
            mejorar la salud de los estudiantes</li>
    </ol>
    <div style="position: fixed; right: 100px; bottom: 100px">
        <p>
            <a style="font-size: .9em; color: red; text-decoration: none" href="#top">
                <img src="../../Content/images/arriba.png" alt="Subir" />
                Subir</a></p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
