﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/estilodevidanutricion-front-end.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/jquery.bxslider.css")" rel="stylesheet" type="text/css" />
    <meta name="keywords" content="Nutrióloga en la del valle, Nutrióloga en tu casa" />
    <meta name="description" content="Estilo de vida y nutrición" />
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41219540-1', 'estilodevidanutricion.com');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div style="margin: 0 auto; width: 1024px; -webkit-box-shadow: 4px 0 2px  #7e7e7e,  -4px 0 2px #7e7e7e;
        -moz-box-shadow: 4px 0 2px #7e7e7e,  -4px 0 2px #7e7e7e; box-shadow: 4px 0 2px #7e7e7e,  -4px 0 2px #7e7e7e;">
        <section id="top" style="margin: 0 auto; width: 100%; height: 130px">
            <div style="float: left; width: 50%">
                <a href="/" target="_self">
                    <img src="../../Content/images/logo-estilodevidanutricion.jpg" alt="Estilo de vida y nutrición" /></a>
            </div>
            <div style="float: left; width: 50%; height: 125px; position: relative">
                <a href="https://www.facebook.com/EstilodeVidayNutricion" target="_blank">
                    <img style="position: absolute; bottom: 0; right: 130px" src="../../Content/images/facebook.png"
                        alt="Facebook" />
                </a><a href="https://twitter.com/EVida_Nutricion" target="_blank">
                    <img style="position: absolute; bottom: 0; right: 90px" src="../../Content/images/twitter.png"
                        alt="Twitter" />
                </a>
                @*<img style="position: absolute; bottom: 0; right: 0" src="../../Content/images/uvas.jpg"
                    alt="uvas" />*@
            </div>
        </section>
        <section class="menu">
            <ul style="margin: 0; padding: 0; list-style: none; width: 100%; height: 26px; background-color: #FFB200;
                text-transform: uppercase; text-align: center; font-weight: bold">
                <li style="float: left; margin-left: 20px; width: 180px; border-right: 1px solid #FFF">
                    <strong><a href="/" target="_self">Inicio</a></strong></li>
                <li style="float: left; margin-left: 25px; width: 180px; border-right: 1px solid #FFF">
                    @Html.ActionLink("Nosotros", "Nosotros")
                    <ul style="margin-left: -15px">
                        <li style="width: 200px"><a href="Nosotros#m" target="_self">Misión</a></li>
                        <li style="width: 200px"><a href="Nosotros#v" target="_self">Visión</a></li>
                        <li style="width: 200px"><a href="Nosotros#o" target="_self">Objetivo</a></li>
                    </ul>
                </li>
                <li style="float: left; margin-left: 10px; width: 180px; border-right: 1px solid #FFF">
                    @Html.ActionLink("Servicios", "Servicios")
                    <ul style="text-align: left">
                     <li style="width: 250px"><a href="Servicios#adultos" target="_self">Consultas de nutrición</a></li>
                     <li style="width: 250px"><a href="Servicios#domicilio" target="_self">Consultas a domicilio</a></li>
                     <li style="width: 250px"><a href="Servicios#estrategia" target="_self">Estrategias para el cambio</a></li>
                     <li style="width: 250px"><a href="Servicios#escuelas" target="_self">Pláticas para escuelas</a></li>
                     <li style="width: 250px"><a href="Servicios#empresas" target="_self">Pláticas para empresas</a></li>
                    </ul>
                    </li>
                <li style="float: left; margin-left: 20px; width: 180px; border-right: 1px solid #FFF">
                    @Html.ActionLink("Contacto", "Contacto")</li>
                <li style="float: left; margin-left: 20px; width: 180px;"><a href="http://estilodevidanutricion.wordpress.com/"
                    target="_blank">Tu Nutrición</a></li>
            </ul>
        </section>
        <br />
        @RenderBody()
        <br />
        <footer style="text-align: center; border-top: 2px solid #3BBDD7;">
        <p style="margin: 0;">Estilo de Vida & Nutrición. San Borja 330, Col.:del Valle. Del.: Benito Juárez, C.P.:03100, México D.F. Tel.: 55237511</p>
        <span style="vertical-align: middle;">@Html.ActionLink("Aviso de privacidad", "AvisoPrivacidad", null, new { style = "color: #3BBDD7" })</span>
        <div style="margin: 0; padding: 0;">
            <span style="color: #FFB200; vertical-align: middle;">google maps</span> <a href="https://maps.google.com.mx/maps/ms?msid=211842175062061943958.0004dae4c483f2fc5c30b&msa=0&ll=19.386042,-99.172618&spn=0.007074,0.013078" target="_blank"><img style="border: none; vertical-align: middle" alt="google maps" src="../../Content/images/location.png" /></a>
        </div>
        
        <br />
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider();
        });
    </script>
</body>
</html>
