﻿*
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body
{
    margin: 0;
    font-family: Avenir_LT_45_Book;
}

@font-face
{
    font-family: 'Avenir_LT_45_Book';
    src: url(../fonts/Avenir_LT_45_Book.ttf);
}

p
{
    font-size: 1.1em;
    line-height: 200%;
}

h2, h3
{
    font-size: 2.5em;
    color: #4B391F;
}

img
{
    border: none;
}

.menu
{
    margin: 0 auto;
    width: 100%;
    border-top: 2px solid #F8931F;
    color: White;
}

.menu a
{
    -webkit-transition: border 1s ease-out;
    transition: border 1s ease-out;
    color: inherit;
    text-decoration: none;
    border-bottom: 4px solid #ffb120;
}

.menu a:hover
{
    border-bottom: 4px solid #F8931F;
}

.menu ul li
{
    position: relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
    line-height: 24px;
}

.menu ul ul
{
    position: absolute; /* Esta posición es relativa al <li> que contiene a este <ul> */
    left: -48px; /* Para que no monte sobre el <li> */
    top: 24px;
    display: none;
    list-style: none;
    z-index: 1;
}

.menu ul ul li
{
    background-color: #FFB200;
    width: 170px;
    padding: 4px;
    color: #4B391F;
    line-height: 24px;
}

.menu ul li:hover > ul
{
    display: block;
}

.description
{
    float: left;
    width: 70%;
    height: 1730px;
}

.description p
{
    text-align: justify;
    margin: 5px 30px 5px 30px;
    line-height: 250%;
}

.contentWrapper
{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

.contentWrapper li
{
    line-height: 200%;
    font-size: 1.1em;
}

/*
.contentWrapper h1, h2, h3
{
    color: #4B391F;
}*/

/*Contacto, thanks to www.toddmotto.com*/
.wrapper
{
    max-width: 500px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    float: left;
}

#resultado
{
    font-size: 1.8em;
    color: #FFB200;
    font-weight: bold;
}
#diagnostico
{
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: lighter;
    font-variant:small-caps;
    letter-spacing: -1px;
}
/*
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea, #contact-form button[type="submit"]
{
    font: 400 12px/12px "Helvetica Neue" , Helvetica, Arial, sans-serif;
}
*/
#contact-form
{
    text-shadow: 0 1px 0 #FFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #F9F9F9;
    padding: 25px;
}
#contact-form h3
{
    color: #55B71D;
    display: block;
    font-size: 28px;
}
#contact-form h4
{
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}
#contact-form label span
{
    cursor: pointer;
    color: #55B71D;
    display: block;
    margin: 5px 0;
    font-weight: 900;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea
{
    width: 100%;
    box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
}
#contact-form input[type="text"]:hover, #contact-form input[type="email"]:hover, #contact-form input[type="tel"]:hover, #contact-form input[type="url"]:hover, #contact-form textarea:hover
{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}
#contact-form textarea
{
    height: 100px;
    max-width: 100%;
}
#contact-form button[type="submit"]
{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #991D57;
    background-image: linear-gradient(bottom, #4eaa1a 0%, #55B71D 52%);
    background-image: -moz-linear-gradient(bottom, #4eaa1a 0%, #55B71D 52%);
    background-image: -webkit-linear-gradient(bottom, #4eaa1a 0%, #55B71D 52%);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}
#contact-form button[type="submit"]:hover
{
    background-image: linear-gradient(bottom, #55B71D 0%, #4eaa1a 52%);
    background-image: -moz-linear-gradient(bottom, #55B71D 0%, #4eaa1a 52%);
    background-image: -webkit-linear-gradient(bottom, #55B71D 0%, #4eaa1a 52%);
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}
#contact-form button[type="submit"]:active
{
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus, #contact-form textarea:focus
{
    outline: 0;
    border: 1px solid #999;
}
::-webkit-input-placeholder
{
    color: #888;
}
:-moz-placeholder
{
    color: #888;
}
::-moz-placeholder
{
    color: #888;
}
:-ms-input-placeholder
{
    color: #888;
}
